.jumbotron {
  background: #0065bd;
  color: white;
  padding-bottom: 80px;
}

.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7;
}

.jumbotron .btn-primary:hover {
  background: #7646c1;
}

.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em;
}

.navbar + .jumbotron {
  margin-top: -20px;
}

.jumbotron .lang-logo {
  display: block;
  background: #b01302;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white;
}
.jumbotron .lang-logo img {
  max-width: 100%;
}

.logo {
  width: 5rem;
  height: 5rem;
}


.ta03container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  width: 100%;
  transition: all 1s;
  padding: 10px;

}

.ta03-c{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding:10px;

}


.ta03-c img{
 height: 300px;
  padding: 20px;
}



.ta03container-detail{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  width: 100%;
  transition: all 1s;
  padding: 10px;

}


.ta03container-detail{
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  transition: all 1s;
  padding: 10px;

}


.ta03-c-detail{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding:10px;
  align-items: center;
}

.ta03-c-detail img{
 
  width: 400px;
  padding: 20px;

}